/* PHASE 1: Header */

body {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: lightgray;
  
}

.header {
  background-color: red;


}

.header a {
font-size: 16px;
color: white;
padding: 10px;
display: inline-block;
}

.header-nav {
  border-bottom: 1px solid;
  width: 900px;
  background-color: red;
  margin: auto;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: white;
}