/* PHASE 3: Content */

.content {
background: white;
width: 900px;
margin: auto;
font-size: 16px;
font-weight: 400;

padding-top: 20px
}

.content-sidebar {
width: 220px;
float: left;
padding: 10px;

}

.content-main {
width: 640px;
float: left;
padding: 10px;

}

.content h1 {
font-size: 24px;
font-weight: 700;
padding-bottom: 20px
}

.content p {

}